h1 {
    font-size: 10vw;
    background-color: firebrick
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #aaaaaa;
}

#h1style {
    background-color: #e5e5e5;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#footer {
    background-color: firebrick;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
}

#overflowarea {
    overflow: auto;
}

* {
    box-sizing: border-box;
}

#menu {
    text-align: center;
    background-color: #918989;
    display: block;
}

#menu a {
    background-color: #bbb3b3;
    text-align: center;
    color: black;
}



#main h2 {
    text-align: center;
}

#right {
    background-color: #918989;
    text-align: center;

}